@import "tailwindcss";

:root {
  @apply text-slate-800;
}

@theme {
  --font-heading: "Playfair Display", serif;
  --font-primary: "Google Sans Flex", sans-serif;
  
  @keyframes close-eye {
    0%, 80% { opacity: 1; }
    85%, 100% { opacity: 0; }
  }
  @keyframes open-eye {
    0%, 15% { opacity: 1; }
    20%, 100% { opacity: 0; }
  }

  --animate-eye-open: open-eye 4s infinite;
  --animate-eye-close: close-eye 4s infinite reverse;
}

a {
  @apply font-mono text-slate-900 underline hover:text-sky-600 transition-colors;
}
